* {
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;

}

html,body {
    background-color: #f1f1f1;
    width : 100%;
    /* 不能設高度100% 不然header無法消失又出現 */
    /* height: 100%; */
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}



/* header */
header {
    z-index: 1;
    height: 52px;
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    padding: 9px;
    text-align: center;
    /* 為了使header nav不分離 transition-delay要設一樣 */
    transition: top 0.2s linear;
}

.hideUp header {
    top: -52px;
} 



.dailymotion_pic {
    position: absolute;
    cursor: pointer;
    margin: auto;
    left: 30px;
    display: inline-block;
    top : 7px;
    height: 34px;
    width: 135px;
    background-image: url("../images/DailyMotion.jpg");
    background-position: center center;
    background-size: cover;
}

.header_search {
    z-index: 2;
    /* border: solid 2px red; */
    position: absolute;
    cursor: pointer;
    top : 5px;
    left: 894px;
    width: 2%;
    height: 82%;
    background-image: url("../images/header_search.jpg");
    background-position: center center;
    background-size: cover;
}
.search {
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    color: #dadada;
    left: 908px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 56px;
}

.header_media {
    z-index: 2;
    position: absolute;
    cursor: pointer;
    top : 5px;
    left: 975px;
    width: 2%;
    height: 82%;
    background-image: url("../images/header_media.jpg");
    background-position: center center;
    background-size: cover;
}

.db {
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    color: #dadada;
    left: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 56px;
}

.header_person {
    z-index: 2;
    /* border: solid 2px red; */
    position: absolute;
    cursor: pointer;
    top : 5px;
    left: 1080px;
    width: 2%;
    height: 82%;
    background-image: url("../images/header_person.jpg");
    background-position: center center;
    background-size: cover;
}

.log_in {
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    color: #dadada;
    left: 1095px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 56px;
}

.search:hover, .db:hover, .log_in:hover {
    color: #fff;
}

.button {
    cursor: pointer;
    background-color: #fff;
    text-align: center;
    left: 565px;
    display: inline-block;
    height: 30px;
    width: 52px;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 13px;
    color: #232323;
}




/* nav */


.nav {
    position: fixed;
    z-index: 20;
    width: 100%;
    top : 52px; 
    /* 為了使header nav不分離 transition-delay要設一樣 */
    transition: top 0.2s linear;
}

.navs {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 120px;
}


.navs1 {
    margin-left: 16px;
}


ul {
    list-style-type: none;
    padding-left: 30px;
    margin: auto;
    overflow: hidden;
    background-color: #232323;
}

a {
  
  font-weight: bolder;
  font-size: 14px;
  color: #9d9d9d;
  text-align: center;
  text-decoration: none;
  padding: 20px;

}

.nav li {
    float: left;
}
/* .nav a:focus {
    color: white;
    border-bottom: #fff 4px solid;
}    */

.clicked {
    color: white;
    border-bottom: #fff 4px solid;
}


/* content */
.content {
    position: relative;
    top : 52px;
    display: inline-block;/* 水平呈現 */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.topic {
    display: flex;
    /* border: solid 2px red; */
    /* padding: 40px; */
    padding: 0px;
}

/* left */
.left {
    background-color: #fff;
    /* border: solid 2px blue; */
    width: 66%;
    /*  */
    padding: 32px;
}

.before {
    font-weight: bolder;
    font-size: 36px;
    color: #232323;
    padding: 16px 0px 0px;
}

.left_sectitle {
    font-size: 28px;
    font-weight: bolder;
    color: #232323;
    margin: 20px 0px 24px;
}

.left::before {
    content: " ";
    background-color: black;
    position: absolute;
    top : 17px;
    height: 8px;
    width: 40px;
}

.movie_info {
    display: flex;
    margin-bottom: 33px;
}

.left_movie {
    /* border: solid 2px orange; */
    height: 240px;
    width: 432px;
}
.left_info {
    /* border: solid 2px green; */
    margin: 0px 12px;
    /* margin-right: 102px; */
} 

.left_info span {
    display: inline;
    /* border: solid 2px pink; */
    font-size: 12px;
    color : #9d9d9d;
    margin-bottom: 8px;
}

.left_info h1 {
    font-size: 20px;
    margin: 0px;
    color: #232323;
    /* border: solid 2px purple; */
    width: 250px;
}

.mini_info {
    display: flex;
    /* border:  solid 2px yellow; */
    font-size: 12px;
}

.icon {
    margin-right: 1px;
    top : 7px;
    height: 17px;
    width: 20px;
    background-image: url("../images/icon.png");
    background-position: center center;
    background-size: center;
}

.record_company {
    /* border: solid 2px; */
    font-weight: bolder;
    display: block;
    color: #7e7e7e;
    margin: 8px 8px 0px 0px;
}

.company_img {
    /* border : solid 2px red; */
    top : 6px;
    left: -6px;
    height: 18px;
    width: 18px;
    background-image: url("../images/circle.png");
    background-position: center center;
    background-size: center;
}


.updatetime {
    position: relative;
    /* border: solid 2px; */
    color: #9d9d9d;
    margin: 8px 0px 0px;
}







/* right */
.right {
    /* border: solid 2px green; */
    background-color: #f7f7f7;
    width: 35%;
    /*  */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}


.right h1 {
    border: solid 2px yellow;
    top : 0px;
    margin: 0px 0px 49px 0px;
    /* 物件位置還在 */
    visibility: hidden;

}

.rtitles {
    /* border: solid 2px purple; */
    margin-left: 0px;
    padding-left: 11px;
    
}

.rtitles span {
    /* border: solid 2px orange; */
    position: absolute;
    font-size: 12px;
    color: #414141;
    font-weight: bolder;
    
}

.rtitles h3 {
    /* border : solid 2px pink; */
    font-size: 22px;
    color: #606060;
}

.minmovie_info {
    display: flex;
    margin-bottom: 33px;
}

.right_movie {
    padding-left: 11px;
    height: 100px;
    width: 180px;
}

.right_info {
    /* border: solid 2px green; */
    margin: 0px 12px;
} 

.right_info h3 {
    font-size: 16px;
    margin: 0px;
    color: #232323;
    /* border: solid 2px purple; */
    width: 203px;
}

.wrap {
    display: flex;
}

.right_record_company {
    font-weight: bolder;
    display: inline;
    /* border: solid 2px; */
    font-size: 12px;
    color: #7e7e7e;
    margin: 8px 8px 0px 0px;
}

.wrap_company_img {
    /* border : solid 2px red; */
    top : 6px;
    left: -6px;
    height: 18px;
    width: 18px;
    background-image: url("../images/circle.png");
    background-position: center center;
    background-size: center;
}



.right_updatetime {
    /* border: solid 2px; */
    font-size: 12px;
    color: #9d9d9d;
    margin: 8px 0px 0px;
}






/* Footer */

.footer {
    border-top: #d9d9d9 solid 1px;
    z-index: 100;
    background-color: #fff;
    /* border-top: solid 1px #f7f7f7; */
    padding: 30px 0px 28px;
    
}

.footer1, .footer2 {
    background-color: #fff;
    /* border: solid 2px pink; */
    margin: 0px 145px;
    cursor: pointer;
    /* display: flex; */
    
}

.footer1 {
    display: inline-block;
    left: 189px;
    padding: 0px 0px 28px;
    border-bottom: solid 1px #d9d9d9;
}

.dailymotion_btm {
    position: absolute;
    top : 27px;
    left : 142px;
    height: 30px;
    width: 145px;
    background-image: url("../../work3/images/dailymotion_btm.png");
    background-position: center center;
    background-size: cover;
}

.footer1_text {
    font-weight: 500;
    padding: 0px;
    font-size: 14px;
    cursor: pointer;
    color: #4a4a4a;
    margin-right: 50px;

}

#partner {
    padding: 0px;
}


.footer2 {
    display: inline-block;
    left: 185px;
    padding: 28px 0px 0px ;
    /* border: solid 2px blue; */
}

.footer1_text2 {
    font-weight: 500;
    padding: 0px;
    font-size: 12px;
    cursor: pointer;
    color: #808080;
    margin-right: 40px;
}

.footer1_text2 span {
    color: #00aaff;
    margin: 0px 0px 0px 5px;
}


.footer3 {
    bottom: 0px;
    width: 100%;
    height: 56px;
    background-color: #F7F7F7;
    font-size: 12px;
    color: #999999;   
}

.brand {
    line-height:56px;
    left: 148px;
    letter-spacing: 0px;
}

.fb {
    position: absolute;
    cursor: pointer;
    top : 17px;
    right: 235px;
    width: 35px;
    height: 20px;
    background-image: url("../../work3/images/fb.png");
    background-size: cover;
    background-position: center center;

}



.twitter {
    position: absolute;
    cursor: pointer;
    top : 17px;
    right: 200px;
    width: 35px;
    height: 20px;
    background-image: url("../../work3/images/twitter.png");
    background-size: cover;
    background-position: center center;
}

.pinterest {
    position: absolute;
    cursor: pointer;
    top : 17px;
    right: 170px;
    width: 35px;
    height: 20px;
    background-image: url("../../work3/images/pinterest.png");
    background-size: cover;
    background-position: center center;
}

.ig {
    position: absolute;
    cursor: pointer;
    top : 14px;
    right: 135px;
    width: 38px;
    height: 26px;
    background-image: url("../../work3/images/ig.png");
    background-size: cover;
    background-position: center center;
}